body{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(236,40,40,0.9966216216216216) 50%, rgba(252,176,69,1) 100%);
background-attachment:fixed ;
margin: 0;
font-family: 'Poppins',sans-serif;
}

#form{
  width: 400px;
  margin: 20vh auto 0 auto;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 5px;
}

h1{
  text-align: center;
  
}
#form button{
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 20px 0px;
  font-size: 20px;
  width: 100%;
}
.input-group{
  display: flex;
  flex-direction: column;

}

.input-group input{
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid lightblue;
 
}
.input-group input:focus {
  outline: 0;
}

.input-group .error{
  color: rgb(242,18,18);
  font-size: 16px;
  margin-top: 5px;
  
}
.input-group.success input{
  border-color: #0cc477;
}
.input-group.error input{
  border-color:rgb(206,67,67) ;
}